<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RK book store</title>
    <!-- remixicon -->
    <link rel="stylesheet" href="/remix/remixicon.css" type="text/css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <!-- main css  -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <header class="py-2">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <a href="/">
                        <img src="/images/logo.png" alt="logo" title="logo" width="100px"/>
                    </a>
                </div>
                <nav class="d-flex align-items-center">
                    <a href="javscript:void(0)" class="nav-link mx-2">Home</a>
                    <a href="javscript:void(0)" class="nav-link mx-2">About</a>
                    <a href="javscript:void(0)" class="nav-link mx-2"><i class="ri-shopping-cart-2-line p-2 text-white rounded-2 "></i></a>
                </nav>
            </div>
        </div>
    </header>

    <section class="py-5 position-relative">
        <div class="back-to-home position-absolute text-center rounded-circle">
            <a href="/"  class="nav-link text-white"><i class="ri-arrow-go-back-line"></i></a>
        </div>
        <div class="container">
            <div class="row p-4 singleBook">
                <div class="col-lg-6">
                    <div class="px-3">
                        <img src="<%= singleBook.coverImage %>" alt="coverImage" title="coverImage" width="100%" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="book-details">
                        <div  class="d-flex align-items-baseline">
                            <h2 class="me-2"><%= singleBook.title %></h2>
                            <p class="text-secondary"><%= singleBook.publisher %> - <span><%= singleBook.publishedDate %></span></p>
                        </div>
                        <p>by - <span class="author-name fw-semibold"><%= singleBook.author %></span> (Author)</p>
                        <p>
                            <%= singleBook.rating %>
                            <% for(let i=1;i<=singleBook.rating ;i++){ %>
                                <i class="ri-star-s-fill"></i>
                            <% } %>
                        </p>
                        <p><%= singleBook.genre.join(', ') %></p>
                        <p><b><%= singleBook.price %></b> ₹</p>
                        <p> Availabel Stock - <%= singleBook.stock %></p>
                        <button class="btn text-white">Add to Cart</button>
                        <p><%= singleBook.decsription %></p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- custom js  -->
    <script src="/js/script.js" type="text/javascript"></script>
    <!-- bootstrap js  -->
    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>